body {
  font-family: 'Inter', sans-serif;
  display: block;
}

.order {
  font-size: medium;
  text-decoration: none;
  color: black;
  border: 1px solid #EEEEEE;
  background-color: #EEEEEE;
  border-radius: 10px;
  padding: 7px 20px 7px 20px;
  position: relative;
  top: 25px;
  left: 20px;
}

.title {
  text-align: center;
  font-size: 65px;
  position: relative;
  bottom: 20px;
}

.title2{
  font-size: 20px;
  position: relative;
  bottom: 30px;
}

.tech{
  text-align: center;
  position: relative;
  left: 365px;
  bottom:285px; 
}

td img {
width: 150px;
position: relative;
left : 135px;
bottom: 85px;
padding-left: 45px;
padding-top: 75px;
}

.fand {
  font-size: 14px;
  position: relative;
  left: 195px ;
  bottom: 85px;
}


